<ion-view hide-back-button="true" cache-view="false" overflow-scroll="true">
    <div class="bar bar-subheader bar-calm" ng-click="vm.go('diary', id)">
        <button class="button button-icon ion-ios-arrow-left sd-text-white">
            <span style="margin-left:10px;">Attachements</span>
        </button>
    </div>
    <ion-content class="has-subheader has-footer sd-form sd-form-withfields">
        <div ng-if="vm.filter.substate === 'gallery'">
            <div ng-if="vm.pictures.length === 0 || !vm.pictures" style="text-align: center; padding-top:30vw">
                <span class="all-ion-text" style="line-height: 15vw;font-size: 15vw; color:#4A6780">No images assigned</span>
            </div>
            <div ng-if="vm.pictures.length !== 1 || vm.pictures[0].url || vm.pictures[0].base_64_string">
                <div class="row" ng-repeat="pic in vm.pictures" ng-if="$index % 2 === 0">
                    <div class="col col-50" ng-if="$index < vm.pictures.length">
                        <div class="pull-down" style="max-height: 50vw;overflow: hidden;">
                            <img ng-src="{{vm.pictures[$index].url}}" ng-click="vm.testPicture(vm.pictures[$index])" ng-if="vm.pictures[$index].path" width="100%;-ms-transform: scale(0.3,0.3);-webkit-transform: scale(0.3,0.3); transform: scale(0.3,0.3);" />
                            <img data-ng-src="data:image/png;base64,{{vm.pictures[$index].base_64_string}}" ng-click="vm.testPicture(vm.pictures[$index])" ng-if="!vm.pictures[$index].path" width="100%;-ms-transform: scale(0.3,0.3);-webkit-transform: scale(0.3,0.3); transform: scale(0.3,0.3);"
                            />
                        </div>
                        <div>
                            <button class="button button-assertive" ng-if="vm.editMode || !vm.diaryId" ng-click='vm.removePicture(vm.pictures[$index],$index)' style=" min-height: auto;line-height: 30px;font-size: 15px;width: 100%;margin-top: 5px; padding: 0px;">Remove</button>
                        </div>
                    </div>
                    <div class="col col-50" ng-if="$index + 1 < vm.pictures.length">
                        <div class="pull-down" style="max-height: 50vw;overflow: hidden;">
                            <img ng-src="{{vm.pictures[$index+1].url}}" ng-click="vm.testPicture(vm.pictures[$index + 1])" ng-if="vm.pictures[$index + 1].path" width="100%;-ms-transform: scale(0.3,0.3);-webkit-transform: scale(0.3,0.3); transform: scale(0.3,0.3);" />
                            <img data-ng-src="data:image/png;base64,{{vm.pictures[$index+1].base_64_string}}" ng-click="vm.testPicture(vm.pictures[$index + 1])" ng-if="!vm.pictures[$index +1 ].path" width="100%;-ms-transform: scale(0.3,0.3);-webkit-transform: scale(0.3,0.3); transform: scale(0.3,0.3);"
                            />
                        </div>
                        <div>
                            <button class="button button-assertive" ng-if="vm.editMode || !vm.diaryId" ng-click='vm.removePicture(vm.pictures[$index + 1],$index + 1)' style=" min-height: auto;line-height: 30px;font-size: 15px;width: 100%;margin-top: 5px; padding: 0px;">Remove</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="list" ng-show="vm.filter.substate === 'pic'">
            <div style="padding-bottom: 80px">
                <img ng-if="vm.filter.picture.path" ng-src="{{vm.filter.picture.base64String}}" ng-click="vm.returnToGallery()" style="-webkit-user-drag: inherit;">
                <img ng-if="!vm.filter.picture.path" data-ng-src="data:image/png;base64,{{filter.picture.base_64_string}}" ng-click="vm.returnToGallery()" style="-webkit-user-drag: inherit;">
                <div class="list" style="background-color:#fff;">
                    <label class="item item-input item-stacked-label" style="background-color: #11C1F3">
                          <span class="input-label">Title</span>
                          <input type="text" ng-readonly="(vm.diaryId) && (!vm.editMode)" style="background-color: #11C1F3; color:#fff;" ng-model="vm.filter.picture.title">
                    </label>
                    <label class="item item-input item-stacked-label" style="border-bottom: 1px solid #aaa">
                          <span class="input-label" style="color: #121d21;" >Comments</span>
                          <textarea ng-readonly="(vm.diaryId) && (!vm.editMode)" ng-auto-expand ng-model="vm.filter.picture.comment"></textarea>
                    </label>
                </div>
            </div>
        </div>
    </ion-content>
    <div class="bar sd-footer" ng-if="(!vm.diaryId) || (vm.editMode)">
        <span>Add Pictures</span>
        <div class="sd-actions">
            <img src="img/use/takePicture.png" ng-click="vm.takePicture()">
            <img src="img/use/cameraRoll.png" ng-click="vm.addPicture()">
        </div>
    </div>
</ion-view>
