<ion-view hide-back-button="true" cache-view="false">
    <div class="bar bar-subheader bar-calm" ng-click="vm.go('diary')">
        <button class="button button-icon ion-ios-arrow-left sd-text-white">
            <span class="bold" style="margin-left:10px;">Site Diary list</span>
        </button>
    </div>
    <ion-content class="has-subheader sd-list has-footer">
        <ion-list can-swipe="true">
            <ion-item ng-repeat="item in vm.local.list track by $index" class="sd-item-tile">
                <div class="sd-group">
                    <span class="sd-tile" ng-style="{'background-color': item.backColor}">
                      {{item.first_name.split(' ')[0] | limitTo:1 | uppercase}}
                      {{item.last_name.split(' ')[0] | limitTo:1 | uppercase}}
                    </span>
                    <div class="sd-content">
                        <div class="sd-title">{{item.name}} <span class="sd-data">{{item.date | date}}</span></div>
                        <div class="sd-description"><span>{{item.comment}}</span></div>
                    </div>
                </div>
            </ion-item>
        </ion-list>
        <div ng-if="!vm.local.list.length" class="sd-nodata">
            <span>There are no messages</span>
        </div>
    </ion-content>
    <div class="bar bar-footer sd-footer">
        <textarea elastic placeholder="Type comment here" ng-disabled="vm.diaryId && !vm.editMode" ng-model="vm.local.comment" ng-keydown="vm.addComentAtEnter($event)"></textarea>
        <div class="comment-action sd-actions" ng-click="vm.addComment()">
          <span class="chatbubble ion-chatbubble-working"></span>
        </div>
    </div>
</ion-view>
