<ion-view hide-back-button="true" cache-view="false">
    <div class="bar bar-subheader bar-calm" ng-click="vm.go('siteAttendance')">
        <button class="button button-icon ion-ios-arrow-left sd-text-white">
            <span style="margin-left:10px;">Contractor</span>
        </button>
    </div>
    <ion-content class="has-subheader sd-form sd-form-withfields">
        <div class="sd-group">
            Add contractor
        </div>
        <div class="sd-container">
            <label class="sd-label">
                <div class="sd-title">Company representative</div>
                <input placeholder="{{(!vm.diaryId || vm.editMode) && 'Tap to add company representative' || ''}}" ng-readonly="(vm.diaryId) && !(vm.editMode)" ng-model="vm.local.data.staff_name">
            </label>
            <label class="sd-label">
                <div class="sd-title">Company name</div>
                <input placeholder="{{(!vm.diaryId || vm.editMode) && 'Tap to add company' || ''}}" ng-readonly="(vm.diaryId) && !(vm.editMode)" ng-model="vm.local.data.company_name">
            </label>
            <label class="sd-label">
                <div class="sd-title">Trade</div>
                <input placeholder="{{(!vm.diaryId || vm.editMode) && 'Tap to add trade' || ''}}" ng-readonly="(vm.diaryId) && !(vm.editMode)" ng-model="vm.local.data.trade">
            </label>
            <label class="sd-label">
                <div class="sd-title">Hourly rate</div>
                <input type="number" placeholder="Tap to add hourly rate ({{vm.currency}})" ng-if="((vm.diaryId) && (vm.editMode)) || !(vm.diaryId)" ng-model="vm.local.data.hourly_rate">
                <input ng-readonly=true ng-if="(vm.diaryId) && !(vm.editMode)" ng-model="vm.local.data.hourly_rate_formated">
            </label>
            <div class="sd-label">
                <div class="sd-title">Start</div>
                <div ng-required="vm.data.required"
                     ion-datetime-picker time
                     ng-class="{'sd-no-select':(vm.diaryId) && !(vm.editMode)}"
                     ng-model="vm.local.data.model_start"
                     month-step="1" hour-step="1" minute-step="1" second-step="1"
                     class="sd-input-container"
                     ng-change="vm.calcParse()"
                     ng-click="vm.allowNumbersOnly()">
                    <div class="sd-line" ng-if="vm.local.data.model_start">{{vm.local.data.model_start | date: 'HH:mm'}}</div>
                    <div class="sd-line" ng-if="!vm.local.data.model_start">
                        Tap here to select start time.</div>
                </div>
            </div>
            <div class="sd-label">
                <div class="sd-title">Break</div>
                <div ng-required="vm.data.required"
                     ion-datetime-picker time
                     ng-class="{'sd-no-select':(vm.diaryId) && !(vm.editMode)}"
                     ng-model="vm.local.data.model_break" month-step="1" hour-step="1" minute-step="1" second-step="1"
                     class="sd-input-container"
                     ng-change="vm.calcParse()"
                     ng-click="vm.allowNumbersOnly()">
                    <div class="sd-line" ng-if="vm.local.data.model_break">{{vm.local.data.model_break | date: 'HH:mm'}}</div>
                    <div class="sd-line" ng-if="!vm.local.data.model_break">
                        Tap here to select break time.</div>
                </div>
            </div>
            <div class="sd-label">
                <div class="sd-title">Finish</div>
                <div ng-required="vm.data.required"
                     ion-datetime-picker time
                     ng-class="{'sd-no-select':(vm.diaryId) && !(vm.editMode)}"
                     ng-model="vm.local.data.model_finish"
                     month-step="1" hour-step="1" minute-step="1" second-step="1"
                     class="sd-input-container"
                     ng-change="vm.calcParse()"
                     ng-click="vm.allowNumbersOnly()">
                    <div class="sd-line" ng-if="vm.local.data.model_finish">{{vm.local.data.model_finish | date: 'HH:mm'}}</div>
                    <div class="sd-line" ng-if="!vm.local.data.model_finish">
                        Tap here to select finish time.</div>
                </div>
            </div>
            <div class="sd-label">
                <div class="sd-title">Total</div>
                <div ng-required="vm.data.required"
                     ion-datetime-picker time
                     ng-class="{'sd-no-select':(vm.diaryId) && !(vm.editMode)}"
                     ng-model="vm.local.data.total_time"
                     month-step="1" hour-step="1" minute-step="1" second-step="1"
                     class="sd-input-container"
                     ng-click="vm.allowNumbersOnly()">
                    <div class="sd-line" ng-if="vm.local.data.total_time">{{vm.local.data.total_time | date: 'HH:mm'}}</div>
                    <div class="sd-line" ng-if="!vm.local.data.total_time">
                        Tap here to select finish time.</div>
                </div>
            </div>
            <!-- <label class="sd-label">
                <div class="sd-title">Total</div>
                <form name="vm.myForm">
                  <input type="tel" ng-readonly="(vm.diaryId) && !(vm.editMode)"
                         placeholder="{{(!vm.diaryId || vm.editMode) && 'Total' || ''}}"
                         ng-model="vm.local.data.total_time">
                </form>
            </label> -->
            <label class="sd-label">
                <div class="sd-title">Note</div>
                <input ng-readonly="(vm.diaryId) && !(vm.editMode)" placeholder="{{(!vm.diaryId || vm.editMode) && 'Tap to add note' || ''}}" ng-model="vm.local.data.note">
            </label>
            <div class="sd-label" ng-if="(!vm.diaryId) || (vm.editMode)">
                <div class="sd-title">Absence</div>
                <de-select de-options="vm.absence" de-title="vm.local.absence" de-selected="vm.local.data.absence"></de-select>
            </div>
            <label ng-if="(vm.diaryId) && !(vm.editMode)" class="sd-label">
                <div class="sd-title">Absence</div>
                <input readonly ng-model="vm.local.data.absence">
            </label>
        </div>
    </ion-content>
</ion-view>
