<ion-view hide-back-button="true" cache-view="false">
    <div class="bar bar-subheader bar-calm" ng-click="vm.go('diary')">
        <button class="button button-icon ion-ios-arrow-left sd-text-white">
            <span class="bold" style="margin-left:10px;">Contract notes</span>
        </button>
    </div>
    <ion-content class="has-subheader sd-form sd-form-withfields">
        <div class="sd-group">
            Contract notes
        </div>
        <div class="sd-container">
            <div class="sd-label">
                <div class="sd-title">Instruction</div>
                <div class="textarea-div">
                    <textarea rows="1" ng-keyup="autoExpand($event)" ng-if="(!vm.diaryId) || (vm.editMode)" placeholder="Tap to add an instruction" ng-model="vm.input1"></textarea>
                    <span ng-if="(!vm.diaryId) || (vm.editMode)" class="ion-plus-round" ng-click="vm.save()"></span>
                </div>
            </div>
            <div class="sd-filler" ng-if="currentSD.contract_notes.instructions.comments.length > 0">
                <span class="de-item" ng-repeat="option in currentSD.contract_notes.instructions.comments track by $index" style="display: block; padding-bottom:8px;">{{option}}</span>
            </div>
            <div class="sd-filler" ng-if="currentSD.contract_notes.instructions.comments.length === 0 && vm.diaryId">
                <span class="de-item">There is no instructions information</span>
            </div>
            <div class="sd-label">
                <div class="sd-title">Extensions of Time</div>
                <div class="textarea-div">
                    <textarea rows="1" ng-keyup="autoExpand($event)" ng-if="(!vm.diaryId) || (vm.editMode)" placeholder="Tap to add an extension of time" ng-model="vm.input2"></textarea>
                    <span ng-if="(!vm.diaryId) || (vm.editMode)" class="ion-plus-round" ng-click="vm.save()"></span>
                </div>
            </div>
            <div class="sd-filler" ng-if="currentSD.contract_notes.extensions_of_time.comments.length > 0">
                <span class="de-item" ng-repeat="option in currentSD.contract_notes.extensions_of_time.comments track by $index" style="display: block; padding-bottom:8px;">{{option}}</span>
            </div>
            <div class="sd-filler" ng-if="currentSD.contract_notes.extensions_of_time.comments.length === 0 && vm.diaryId">
                <span class="de-item">There is no extension time information</span>
            </div>
            <div class="sd-label">
                <div class="sd-title">Variation</div>
                <div class="textarea-div">
                    <textarea rows="1" ng-keyup="autoExpand($event)" ng-if="(!vm.diaryId) || (vm.editMode)" placeholder="Tap to add a variation" ng-model="vm.input3"></textarea>
                    <span ng-if="(!vm.diaryId) || (vm.editMode)" class="ion-plus-round" ng-click="vm.save()"></span>
                </div>
            </div>
            <div class="sd-filler" ng-if="currentSD.contract_notes.variations.comments.length > 0">
                <span class="de-item" ng-repeat="option in currentSD.contract_notes.variations.comments track by $index" style="display: block; padding-bottom:8px;">{{option}}</span>
            </div>
            <div class="sd-filler" ng-if="currentSD.contract_notes.variations.comments.length === 0 && vm.diaryId">
                <span class="de-item">There is no variation information</span>
            </div>
        </div>
    </ion-content>
</ion-view>
