<ion-view view-title="{{project.name}}" hide-back-button="true" cache-view="false">
    <div class="bar bar-subheader bar-calm" ng-click="vm.go('home')">
        <button class="button button-icon ion-ios-arrow-left sd-text-white">
            <span style="margin-left:10px;">Site Diary list</span>
        </button>
    </div>
    <ion-content class="has-subheader sd-list swipe-preview">
        <ion-list can-swipe="true">
            <ion-item ng-repeat="item in vm.diaries"  class="sd-item-tile">
                <div class="sd-group">
                    <span class="sd-tile" ng-click="vm.go('diary',item.id)" ng-style="{'background-color': getSdTitleColor(item.userName)}">
                      {{item.userName.split(' ')[0] | limitTo:1 | uppercase}}
                      {{item.userName.split(' ')[1] | limitTo:1 | uppercase}}
                    </span>
                    <div class="sd-content" ng-click="vm.go('diary',item.id)">
                        <div class="sd-title">{{item.date | date}}</div>
                        <div class="sd-description">SD - {{item.sdNo}} - {{((item.created_for_date != 0) && item.created_for_date || 'No date selected') | date:'mediumDate'}}</div>
                    </div>
                    <div class="sd-share" ng-click = "showPopup(item)"><span class="ion-android-share-alt"></span></div>
                    <ion-option-button class="button-assertive delete-btn" ng-click="vm.deleteDiary(item.id)">
                        Delete
                    </ion-option-button>
                </div>
            </ion-item>



            <ion-item ng-repeat="item in vm.offlineDiaries" class="sd-item-tile">
                <div class="sd-group">
                    <span class="sd-tile">
                      OFF
                    </span>
                    <div class="sd-content">
                        <div class="sd-title">OfflineDiary</div>
                        <div class="sd-description">SD - Unknown</div>
                    </div>
                    <ion-option-button class="button-assertive" ng-click="vm.deleteOffDiary()">
                        Delete
                    </ion-option-button>
                </div>
            </ion-item>










<!--
            <ion-item ng-if="vm.offlineDiary.data" class="sd-item-tile">
                <div class="sd-group">
                    <span class="sd-tile">
                      OFF
                    </span>
                    <div class="sd-content">
                        <div class="sd-title">OfflineDiary</div>
                        <div class="sd-description">SD - Unknown</div>
                    </div>
                    <ion-option-button class="button-assertive" ng-click="vm.deleteOffDiary()">
                        Delete
                    </ion-option-button>
                </div>
            </ion-item> -->
        </ion-list>
        <div ng-if="!vm.diaries.length" class="sd-nodata">
            <span>There are no diaries</span>
        </div>
    </ion-content>
    <span class="ds-actionbtn" ng-click="vm.togglePlus()">
        <i ng-if="!vm.show" class="ion-ios-plus-empty"></i>
        <i ng-if="vm.show" class="ion-ios-close-empty"></i>
    </span>
    <span class="ds-actionbtn sd-search" ng-if="vm.show" ng-click="vm.showDiary()">
        <i class="ion-ios-search"></i>
    </span>
    <span class="ds-actionbtn sd-create" ng-if="vm.show" ng-click="vm.go('diary', null)">
        <i class="ion-ios-compose-outline"></i>
    </span>
</ion-view>
