<ion-view hide-back-button="true" cache-view="false">
    <div class="bar bar-subheader bar-calm" ng-click="vm.go('diary')">
        <button class="button button-icon ion-ios-arrow-left sd-text-white">
          <span class="bold" style="margin-left:10px;">Goods received/Plant Off-Hired</span>
      </button>
    </div>
    <ion-content class="has-subheader sd-list">
        <p ng-if="vm.suppliers && vm.suppliers.length != 0" class="white-subtitle">Tap on the supplier to add more resources</p>
        <ion-list>
            <ion-item ng-repeat="supplier in vm.suppliers track by $index" ng-click="vm.go('goodsUsed', $index)">
                <div class="sd-group">
                    <div class="sd-title">{{supplier.grn_ref}}&nbsp;|&nbsp;{{supplier.supplier}}</div>
                    <ion-option-button class="button-assertive delete-btn" ng-click="vm.deleteEntry(supplier)">
                        Delete
                    </ion-option-button>
                </div>
            </ion-item>
        </ion-list>
        <div ng-if="!vm.suppliers.length" class="sd-nodata">
            <span>There are no suppliers</span>
        </div>
    </ion-content>
    <span class="ds-actionbtn" ng-if="(!vm.diaryId) || (vm.editMode) ">
      <i class="ion-ios-plus-empty"  ng-click="vm.go('supplier')"></i>
  </span>
</ion-view>
