<ion-view hide-back-button="true" cache-view="false">
  <div class="bar bar-subheader bar-calm" ng-click="vm.go('goods')">
      <button class="button button-icon ion-ios-arrow-left sd-text-white">
          <span class="bold" style="margin-left:10px;">Supplier</span>
      </button>
  </div>
    <ion-content class="has-subheader sd-list">
        <ion-list>
            <ion-item ng-repeat="item in vm.goods  track by $index" ng-click="vm.go('item',vm.index, $index)">
                <div class="sd-group">
                    <div class="sd-title">{{item.details}}</div>
                    <div class="sd-description">
                      {{item.quantity}} {{item.unit_name}} | {{item.onHireAsString}}-{{item.offHireAsString}}
                    </div>
                    <ion-option-button class="button-assertive delete-btn" ng-click="vm.deleteEntry(item)">
                        Delete
                    </ion-option-button>
                </div>
            </ion-item>
        </ion-list>
        <div ng-if="!vm.goods.length" class="sd-nodata">
            <span>There are no goods added</span>
        </div>
    </ion-content>
    <span class="ds-actionbtn" ng-if="(!vm.diaryId) || (vm.editMode) ">
      <i class="ion-ios-plus-empty" ng-click="vm.go('item',vm.index,'create')"></i>
  </span>
</ion-view>
