<ion-view hide-back-button="true" cache-view="false" overflow-scroll="true">
    <div class="bar bar-subheader bar-calm" ng-click="vm.go('incidents')">
        <button class="button button-icon ion-ios-arrow-left sd-text-white">
            <span class="bold" style="margin-left:10px;">Incidents</span>
        </button>
    </div>
    <ion-content class="has-subheader sd-form sd-form-withfields">
        <div class="sd-group">
            Incidents
        </div>
        <div class="sd-container">
            <div ng-if="!vm.diaryId || vm.editMode" class="sd-label">
                <div class="sd-title">Type</div>
                <de-select de-options="vm.local.type" de-title="vm.type" de-selected="vm.incident.type.name"></de-select>
            </div>
            <label ng-if="vm.diaryId && !vm.editMode" class="sd-label">
                <div class="sd-title">Type</div>
                <input ng-readonly=true ng-model="vm.incident.type.name">
            </label>
            <label class="sd-label">
                <div class="sd-title">Description</div>
                <input placeholder="{{(!vm.diaryId || vm.editMode) && 'Tap to add description' || ''}}" ng-readonly="(vm.diaryId) && (!vm.editMode)" ng-model="vm.incident.description">
            </label>
            <label class="sd-label">
                <div class="sd-title">Quantity</div>
                <input type="number" placeholder="{{(!vm.diaryId || vm.editMode) && 'Tap to add quantity' || ''}}" ng-readonly="(vm.diaryId) && (!vm.editMode)" ng-model="vm.incident.quantity">
            </label>
            <label class="sd-label">
                <div class="sd-title">Unit</div>
                <div class="showSearch" ng-click="((vm.diaryId && vm.editMode) || !(vm.diaryId)) && vm.showSearchUnit()">
                  <input placeholder="{{(!vm.diaryId || vm.editMode) && 'Tap to add unit' || ''}}" ng-readonly=true ng-model="vm.incident.unit_name">
                </div>
            </label>
            <div ng-if="(!vm.diaryId) || (vm.editMode)" class="sd-label">
                <div class="sd-title">Action required</div>
                <de-select de-options="vm.actions" de-title="vm.actionReq" de-selected="vm.incident.action_required.name"></de-select>
            </div>
            <label ng-if="(vm.diaryId) && (!vm.editMode)" class="sd-label">
                <div class="sd-title">Action Required</div>
                <input ng-readonly=true ng-model="vm.incident.action_required.name">
            </label>
        </div>
    </ion-content>
</ion-view>
