<ion-view hide-back-button="true" cache-view="false" overflow-scroll="true">
    <div class="bar bar-subheader bar-calm" ng-click="vm.go('goodsUsed',vm.supplier)">
        <button class="button button-icon ion-ios-arrow-left sd-text-white">
            <span style="margin-left:10px;">Goods used</span>
        </button>
    </div>
    <ion-content class="has-subheader sd-form sd-form-withfields">
        <div class="sd-group">
            Goods
        </div>
        <div class="sd-container">
            <label class="sd-label">
                <div class="sd-title">Name</div>
                <input placeholder="Tap to add goods" ng-disabled="(vm.diaryId) && (!vm.editMode)" ng-click="vm.showSearch()" ng-model="vm.local.data.good_name">
            </label>
            <label class="sd-label">
                <div class="sd-title">Unit</div>
                <input placeholder="Tap to add goods" ng-disabled="(vm.diaryId) && (!vm.editMode)" ng-click="vm.showSearchUnit()" ng-model="vm.local.data.good_unit">
            </label>
            <label class="sd-label">
                <div class="sd-title">Quantity</div>
                <input placeholder="Tap to add Quantity" ng-disabled="(vm.diaryId) && (!vm.editMode)" ng-model="vm.local.data.qty">
            </label>
            <div ng-if="(!vm.diaryId) || (vm.editMode)" class="sd-label">
                <div  class="sd-title">On hire</div>
                <div ng-required="vm.data.required" ion-datetime-picker date ng-class="{'sd-no-select':(vm.diaryId) && !(vm.editMode)}" ng-model="vm.local.data.on_hire" month-step="1" hour-step="1" minute-step="1" second-step="1" class="sd-input-container">
                    <div class="sd-line" ng-if="vm.local.data.on_hire">{{vm.local.data.on_hire | date: 'yyyy-MM-dd'}}</div>
                    <div class="sd-line" ng-if="!vm.local.data.on_hire">
                        Tap here to select on hire date.</div>
                </div>
            </div>
            <label ng-if="(vm.diaryId) && (!vm.editMode)" class="sd-label">
                <div class="sd-title">On hire</div>
                <input placeholder="No On hire date" disabled ng-model="vm.local.on_hire">
            </label>
            <div ng-if="(!vm.diaryId) || (vm.editMode)" class="sd-label">
                <div class="sd-title">Off hire</div>
                <div ng-required="vm.data.required" ion-datetime-picker date ng-class="{'sd-no-select':(vm.diaryId) && !(vm.editMode)}" ng-model="vm.local.data.off_hire" month-step="1" hour-step="1" minute-step="1" second-step="1" class="sd-input-container">
                    <div class="sd-line" ng-if="vm.local.data.off_hire">{{vm.local.data.off_hire | date: 'yyyy-MM-dd'}}</div>
                    <div class="sd-line" ng-if="!vm.local.data.off_hire">
                        Tap here to select off hire date.</div>
                </div>
            </div>
            <label ng-if="(vm.diaryId) && (!vm.editMode)" class="sd-label">
                <div class="sd-title">Off hire</div>
                <input placeholder="No Off-hire date" disabled ng-model="vm.local.off_hire">
            </label>
        </div>
        <button ng-if="(!vm.diaryId) || (vm.editMode)" class="button button-block button-calm sd-text-white sd-save-button mt-0" ng-click="vm.saveItem()">
            Save
        </button>
    </ion-content>
</ion-view>
