<ion-view hide-back-button="true" cache-view="false" overflow-scroll="true">
    <div class="bar bar-subheader bar-calm" ng-click="vm.go('goodsUsed',vm.supplier)">
        <button class="button button-icon ion-ios-arrow-left sd-text-white">
            <span class="bold" style="margin-left:10px;">Goods used</span>
        </button>
    </div>
    <ion-content class="has-subheader sd-form sd-form-withfields">
        <div class="sd-group">
            Goods
        </div>
        <div class="sd-container">
            <label class="sd-label">
                <div class="sd-title">Name</div>
                <div class="showSearch" ng-click="((vm.diaryId && vm.editMode) || !(vm.diaryId)) && vm.showSearch()">
                  <input placeholder="{{(!vm.diaryId || vm.editMode) && 'Tap to add goods' || ''}}" ng-readonly=true ng-model="vm.local.data.good_name">
                </div>
            </label>
            <label class="sd-label">
                <div class="sd-title">Unit</div>
                <div class="showSearch" ng-click="((vm.diaryId && vm.editMode) || !(vm.diaryId)) && vm.showSearchUnit()">
                  <input placeholder="{{(!vm.diaryId || vm.editMode) && 'Tap to add unit' || ''}}" ng-readonly=true ng-model="vm.local.data.good_unit">
                </div>
            </label>
            <label class="sd-label">
                <div class="sd-title">Quantity</div>
                <input ng-readonly="(vm.diaryId) && !(vm.editMode)" type="number" placeholder="{{(!vm.diaryId || vm.editMode) && 'Tap to add quantity' || ''}}" ng-model="vm.local.data.qty">
            </label>
            <div ng-if="(!vm.diaryId) || (vm.editMode)" class="sd-label">
                <div class="sd-title">On hire</div>
                <div ng-change="vm.datetimeChanged()" ng-required="vm.data.required" ion-datetime-picker date ng-class="{'sd-no-select':(vm.diaryId) && !(vm.editMode)}" ng-model="vm.local.data.on_hire" month-step="1" hour-step="1" minute-step="1" second-step="1" class="sd-input-container">
                    <div class="sd-line" ng-if="vm.local.data.on_hire">{{vm.local.data.on_hire | date: 'dd/MM/yyyy'}}</div>
                    <div class="sd-line" ng-if="!vm.local.data.on_hire">
                        Tap here to select on hire date.</div>
                </div>
            </div>
            <label ng-if="(vm.diaryId) && (!vm.editMode)" class="sd-label">
                <div class="sd-title">On hire</div>
                <input ng-readonly=true ng-model="vm.local.data.onHireAsString">
            </label>
            <div ng-if="(!vm.diaryId) || (vm.editMode)" class="sd-label">
                <div class="sd-title">Off hire</div>
                <div ng-change="vm.datetimeChanged()" ng-required="vm.data.required" ion-datetime-picker date ng-class="{'sd-no-select':(vm.diaryId) && !(vm.editMode)}" ng-model="vm.local.data.off_hire" month-step="1" hour-step="1" minute-step="1" second-step="1" class="sd-input-container">
                    <div class="sd-line" ng-if="vm.local.data.off_hire">{{vm.local.data.off_hire | date: 'dd/MM/yyyy'}}</div>
                    <div class="sd-line" ng-if="!vm.local.data.off_hire">
                        Tap here to select off hire date.</div>
                </div>
            </div>
            <label ng-if="(vm.diaryId) && (!vm.editMode)" class="sd-label">
                <div class="sd-title">Off hire</div>
                <input ng-readonly=true ng-model="vm.local.data.offHireAsString">
            </label>
        </div>
    </ion-content>
</ion-view>
