<ion-view hide-back-button="true" cache-view="false" overflow-scroll="true">
    <div class="bar bar-subheader bar-calm" ng-click="vm.go('materials')">
        <button class="button button-icon ion-ios-arrow-left sd-text-white">
            <span style="margin-left:10px;">Plant and materials used</span>
        </button>
    </div>
    <ion-content class="has-subheader sd-form sd-form-withfields">
        <div class="sd-group">
            Plant and materials used
        </div>
        <div class="sd-container">
            <label class="sd-label">
                <div class="sd-title">Resource</div>
                <div class="showSearch" ng-click="((vm.diaryId && vm.editMode) || !(vm.diaryId)) && vm.showSearch()">
                  <input placeholder="{{(!vm.diaryId || vm.editMode) && 'Tap to add resource' ||''}}" ng-readonly=true ng-model="vm.material.name">
                </div>
            </label>
            <label class="sd-label">
                <div class="sd-title">Description</div>
                <input placeholder="{{(!vm.diaryId || vm.editMode) && 'Tap to add a description' ||''}}" ng-readonly="(vm.diaryId) && (!vm.editMode)" ng-model="vm.material.description">
            </label>
            <label class="sd-label">
                <div class="sd-title">Quantity</div>
                <input type="number" placeholder="{{(!vm.diaryId || vm.editMode) && 'Tap to add quantity' ||''}}" ng-readonly="(vm.diaryId) && (!vm.editMode)" ng-model="vm.material.quantity">
            </label>
            <label class="sd-label">
                <div class="sd-title">Unit</div>
                <div class="showSearch" ng-click="((vm.diaryId && vm.editMode) || !(vm.diaryId)) && vm.showSearchUnit()">
                  <input placeholder="{{(!vm.diaryId || vm.editMode) && 'Tap to add unit' ||''}}" ng-readonly=true ng-model="vm.material.unit_name">
                </div>
            </label>
            <label class="sd-label">
                <div class="sd-title">Cost per unit</div>
                <input type="number" placeholder="Tap to add cost per unit ({{vm.currency}})" ng-if="((vm.diaryId) && (vm.editMode)) || !(vm.diaryId)" ng-model="vm.material.unitCost">
                <input ng-readonly=true ng-if="(vm.diaryId) && (!vm.editMode)" ng-model="vm.material.unitCost_formated">
            </label>
            <label class="sd-label">
                <div class="sd-title">Subtotal cost</div>
                <input placeholder="{{(!vm.diaryId || vm.editMode) && ('Subtotal cost (' + vm.currency + ')') ||''}}" ng-readonly=true value="{{vm.subtotal_formated}}">
            </label>
            <label class="sd-label">
                <div class="sd-title">Tax</div>
                <input type="number" placeholder="Tap to add tax (%)" ng-if="((vm.diaryId) && (vm.editMode)) || !(vm.diaryId)" ng-model="vm.material.tax">
                <input ng-readonly=true ng-if="(vm.diaryId) && (!vm.editMode)" ng-model="vm.material.tax_formated">
            </label>
            <label class="sd-label">
                <div class="sd-title">Total</div>
                <input placeholder="{{(!vm.diaryId || vm.editMode) && ('Total cost (' + vm.currency + ')') ||''}}" ng-readonly=true value="{{vm.total_formated}}">
            </label>
        </div>
        <button class="button button-block button-calm sd-text-white sd-save-button mt-0" ng-if="(!vm.diaryId) || (vm.editMode)" ng-click="vm.save()">
            Save
        </button>
    </ion-content>
</ion-view>
