<ion-view hide-back-button="true" cache-view="false">
  <div class="bar bar-subheader bar-calm" ng-click="vm.go('diary')">
      <button class="button button-icon ion-ios-arrow-left sd-text-white"><span style="margin-left:10px;">OH and S</span></button>
  </div>
  <ion-content class="has-subheader sd-list-bubble swipe-preview">
      <ion-list>
        <ion-item ng-repeat="tool in vm.tools track by $index" ng-click="vm.go('ohsadd', $index)">
            <div class="sd-group">
                <div class="sd-title">{{tool.type.id}}&nbsp;|&nbsp;{{tool.type.name}}</div>
                <div class="sd-description">
                    <i class="ion-checkmark-round check" ng-class="{greentext : tool.task_completed}"></i>
                    <span> | </span>
                    <i class="ion-document" ng-class="{greentext : tool.form_to_be_completed}"></i>
                    <span> | </span>
                    <i class="ion-wrench wrench" ng-class="{greentext : tool.action_required}"></i>
                    <span>{{}} | </span>
                    <img src="img/action/comments.png">
                    <span>{{tool.note}}</span>
                </div>
                <ion-option-button class="button-assertive delete-btn" ng-click="vm.deleteEntry(tool)">
                    Delete
                </ion-option-button>
            </div>
        </ion-item>
      </ion-list>
      <div ng-if="!vm.tools.length" class="sd-nodata">
          <span>There are no OH and S</span>
      </div>
  </ion-content>
  <span class="ds-actionbtn" ng-if="(!vm.diaryId) || (vm.editMode)" ng-click="vm.go('ohsadd', 'create')">
    <i class="ion-ios-plus-empty"></i>
</span>
</ion-view>
