<ion-view hide-back-button="true" cache-view="false" overflow-scroll="true">
    <div class="bar bar-subheader bar-calm" ng-click="vm.go('ohs')">
        <button class="button button-icon ion-ios-arrow-left sd-text-white">
            <span class="bold" style="margin-left:10px;">OH and S</span>
        </button>
    </div>
    <ion-content class="has-subheader sd-form sd-form-withfields">
        <div class="sd-group">
            OH and S
        </div>
        <div class="sd-container">
            <div ng-if="(!vm.diaryId) || (vm.editMode)" class="sd-label">
                <div class="sd-title">Type</div>
                <de-select de-options="vm.types" de-title="vm.local.type" de-selected="vm.type.name"></de-select>
            </div>
            <label ng-if="vm.diaryId && !vm.editMode" class="sd-label">
                <div class="sd-title">Type</div>
                <input ng-readonly=true ng-model="vm.type.name">
            </label>
            <label class="sd-label">
                <div class="sd-title">Reference</div>
                <input ng-readonly="(vm.diaryId) && (!vm.editMode)" placeholder="{{(!vm.diaryId || vm.editMode) && 'Tap to add reference' ||''}}" ng-model="vm.ref">
            </label>
            <label class="sd-label">
                <div class="sd-title">Task completed</div>
                <ion-checkbox ng-disabled="(vm.diaryId) && (!vm.editMode)" ng-model="vm.task_completed" class="checkbox-calm">
                    <span ng-if="vm.task_completed">Yes</span>
                    <span ng-if="!vm.task_completed">No</span>
                </ion-checkbox>
            </label>
            <label class="sd-label">
                <div class="sd-title">Form to be completed</div>
                <ion-checkbox ng-disabled="(vm.diaryId) && (!vm.editMode)" ng-model="vm.form_complete" class="checkbox-calm">
                    <span ng-if="vm.form_complete">Yes</span>
                    <span ng-if="!vm.form_complete">No</span>
                </ion-checkbox>
            </label>
            <label class="sd-label">
                <div class="sd-title">Action required</div>
                <ion-checkbox ng-disabled="(vm.diaryId) && (!vm.editMode)" ng-model="vm.action_required" class="checkbox-calm">
                    <span ng-if="vm.action_required">Yes</span>
                    <span ng-if="!vm.action_required">No</span>
                </ion-checkbox>
            </label>
            <label class="sd-label" ng-if="vm.action_required">
                <textarea elastic ng-readonly="(vm.diaryId) && (!vm.editMode)"  placeholder="Tap to add action message" ng-model="vm.action_message"></textarea>
            </label>
            <label class="sd-label">
                <div class="sd-title">Note</div>
                <textarea elastic ng-readonly="(vm.diaryId) && (!vm.editMode)" placeholder="{{(!vm.diaryId || vm.editMode) && 'Tap to add comment' ||''}}" ng-model="vm.comment"></textarea>
            </label>
        </div>
    </ion-content>
</ion-view>
