<ion-view hide-back-button="true" cache-view="false">
    <div class="bar bar-subheader bar-calm" ng-click="vm.go('goods')">
        <button class="button button-icon ion-ios-arrow-left sd-text-white">
            <span style="margin-left:10px;">Suppliers</span>
        </button>
    </div>
    <ion-content class="has-subheader sd-form sd-form-withfields">
        <div class="sd-group">
            Add supplier
        </div>
        <div class="sd-container">
            <label class="sd-label">
                <div class="sd-title">Name</div>
                <input placeholder="Tap to add supplier" ng-model="vm.local.supplier_name">
            </label>
            <label class="sd-label">
                <div class="sd-title">GRN Ref</div>
                <input placeholder="Tap to add GRN ref" ng-model="vm.local.refference">
            </label>
        </div>
        <button class="button button-block button-calm sd-text-white sd-save-button mt-0" ng-click="vm.addSupplier()">
            Add
        </button>
    </ion-content>
</ion-view>
