<ion-view hide-back-button="true" cache-view="false">
    <div class="bar bar-subheader bar-calm" ng-click="vm.go('siteAttendance')">
        <button class="button button-icon ion-ios-arrow-left sd-text-white">
            <span style="margin-left:10px;">Visitors</span>
        </button>
    </div>
    <ion-content class="has-subheader sd-staff">
        <ion-list>
            <label class="item item-input">
                <span class="input-label">First name</span>
                <input type="text" ng-model="vm.local.data.first_name">
            </label>
            <label class="item item-input">
                <span class="input-label">Last name</span>
                <input type="text" ng-model="vm.local.data.last_name">
            </label>
            <label class="item item-input">
                <span class="input-label">Short description</span>
                <textarea ng-model="vm.local.data.note" rows='4' style='width: calc(65% - 10px); resize: none;'></textarea>
            </label>
        </ion-list>
    </ion-content>
</ion-view>
