<ion-view hide-back-button="true" cache-view="false" overflow-scroll="true">
    <div class="bar bar-subheader bar-calm" ng-click="vm.go('diary')">
        <button class="button button-icon ion-ios-arrow-left sd-text-white">
            <span class="bold" style="margin-left:10px;">Weather</span>
        </button>
    </div>
    <ion-content class="has-subheader sd-form sd-form-withfields">
        <div class="sd-group">
            Weather
        </div>
        <div class="sd-container">
            <label class="sd-label">
              <div class="sd-title">Perfect weather</div>
              <ion-checkbox ng-disabled="vm.diaryId && !vm.editMode" ng-model="currentSD.weather.prefect_weather" class="checkbox-calm">
                  <span ng-if="currentSD.weather.prefect_weather">Yes</span>
                  <span ng-if="!currentSD.weather.prefect_weather">No</span>
              </ion-checkbox>
            </label>
            <label class="sd-label">
                <div class="sd-title">Maximum temperature</div>
                <input ng-change="vm.datetimeChanged()"
                       type="number"
                       ng-readonly="(vm.diaryId && !vm.editMode) || currentSD.weather.prefect_weather"
                       placeholder="{{(!vm.diaryId || (vm.editMode && !currentSD.weather.prefect_weather)) && 'Tap to add temperature' || ''}}"
                       ng-model="currentSD.weather.max_temp">
            </label>
            <label class="sd-label">
                <div class="sd-title">Minimum temperature</div>
                <input ng-change="vm.datetimeChanged()"
                       type="number"
                       ng-readonly="(vm.diaryId && !vm.editMode) || currentSD.weather.prefect_weather"
                       placeholder="{{(!vm.diaryId || (vm.editMode && !currentSD.weather.prefect_weather)) && 'Tap to add temperature' || ''}}"
                       ng-model="currentSD.weather.min_temp">
            </label>
            <div class="sd-label" ng-if="(!vm.diaryId || vm.editMode) && !currentSD.weather.prefect_weather">
                <div class="sd-title">Morning</div>
                <de-select de-options="vm.deOptions" de-parameter="currentSD.weather.morning" de-title="vm.morning"></de-select>
            </div>
            <label ng-if="(vm.diaryId && !vm.editMode) || currentSD.weather.prefect_weather" class="sd-label">
                <div class="sd-title">Morning</div>
                <input ng-readonly=true ng-model="vm.local.morning">
            </label>
            <div class="sd-label" ng-if="(!vm.diaryId || vm.editMode) && !currentSD.weather.prefect_weather">
                <div class="sd-title">Midday</div>
                <de-select de-options="vm.deOptions" de-parameter="currentSD.weather.midday" de-title="vm.midday"></de-select>
            </div>
            <label ng-if="(vm.diaryId && !vm.editMode) || currentSD.weather.prefect_weather" class="sd-label">
                <div class="sd-title">Midday</div>
                <input ng-readonly=true ng-model="vm.local.midday">
            </label>
            <div class="sd-label" ng-if="(!vm.diaryId || vm.editMode) && !currentSD.weather.prefect_weather">
                <div class="sd-title">Afternoon</div>
                <de-select de-options="vm.deOptions" de-parameter="currentSD.weather.afternoon" de-title="vm.afternoon"></de-select>
            </div>
            <label ng-if="(vm.diaryId && !vm.editMode) || currentSD.weather.prefect_weather" class="sd-label">
                <div class="sd-title">Afternoon</div>
                <input ng-readonly=true ng-model="vm.local.afternoon">
            </label>
            <div class="sd-label" ng-if="(!vm.diaryId || vm.editMode) && !currentSD.weather.prefect_weather">
                <div class="sd-title">Evening</div>
                <de-select de-options="vm.deOptions" de-parameter="currentSD.weather.evening" de-title="vm.evening"></de-select>
            </div>
            <label ng-if="(vm.diaryId && !vm.editMode) || currentSD.weather.prefect_weather" class="sd-label">
                <div class="sd-title">Evening</div>
                <input ng-readonly=true ng-model="vm.local.evening">
            </label>
            <div class="sd-label" ng-if="(!vm.diaryId || vm.editMode) && !currentSD.weather.prefect_weather">
                <div class="sd-title">On and off</div>
                <de-select de-options="vm.deOptions" de-parameter="currentSD.weather.on_and_off" de-title="vm.onOff"></de-select>
            </div>
            <label ng-if="(vm.diaryId && !vm.editMode) || currentSD.weather.prefect_weather" class="sd-label">
                <div class="sd-title">On and Off</div>
                <input ng-readonly=true ng-model="vm.local.onOff">
            </label>
        </div>
    </ion-content>
</ion-view>
