<div class="de-select" ng-class="{'de-active':vms.settings.show}">
    <div class="de-item  de-input" ng-click="vms.toggle()" ng-model="vm.selectOpt">
        <span ng-if="vms.selected.length > 0" ng-repeat="title in vms.selected track by $index">
          {{title.name}}
          <span ng-if="vms.selected.length > 1">, </span>
        </span>
        <span ng-if="vms.selected.length === 0">{{vms.settings.title}}</span>
    </div>
    <div class="de-container" ng-style="{'height':vms.settings.containerHeight}">
        <div class="de-item" ng-repeat="option in vms.deOptions" ng-click="vms.select(option)">{{option.name}}</div>
    </div>
</div>
