<ion-view id="account" hide-back-button="true" cache-view="false">
    <ion-header-bar align-title="left" class="bar-subheader bar-calm">
        <h1 class="title">My account -
            {{vm.username.username}}</h1>
    </ion-header-bar>
    <ion-content class="has-header account">
        <ion-list>
            <div ng-if="!vm.editAccount">
                <ion-item>
                    Company:
                    <span class="account-item">{{vm.account.customer_name}}</span>
                </ion-item>
                <ion-item>
                    First Name:
                    <span class="account-item">{{vm.account.first_name}}</span>
                </ion-item>
                <ion-item>
                    Last Name:
                    <span class="account-item">{{vm.account.last_name}}</span>
                </ion-item>
                <ion-item>
                    Phone:
                    <span class="account-item">{{vm.account.phone}}</span>
                </ion-item>
                <button class="button button-block" ng-click="vm.editCurrentUser()">
                    Edit
                </button>
            </div>
            <div ng-if="vm.editAccount">
                <ion-item>
                    Company:
                    <span class="account-item">{{vm.account.customer_name}}</span>
                </ion-item>
                <ion-item>
                    First Name:
                    <input class="account-item" ng-model="vm.account.first_name">
                </ion-item>
                <ion-item>
                    Last Name:
                    <input class="account-item" ng-model="vm.account.last_name">
                </ion-item>
                <ion-item>
                    Phone:
                    <input class="account-item" ng-model="vm.account.phone">
                </ion-item>
                <button class="button button-block" ng-click="vm.update()">
                    Update
                </button>
                <button class="button button-block button-dark" ng-click="vm.editCurrentUser()">
                    Cancel
                </button>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
