<ion-view title="Login" id="login" cache-view="false">
    <ion-content>
        <div class="sd-login">
            <img src="img/logo.png">
        </div>
        <form  class="list" role="form" name="forgotForm" novalidate="">
            <label class="item item-input">
                <span class="input-label">username</span>
                <input type="email" ng-model="user.username" required="required" placeholder="your@email.com">
            </label>
            <div class="padding">
                <button class="button button-full button-calm" type="button" ng-click="submit()" ng-disabled="forgotForm.$invalid">
                    send password renewal request
                </button>
            </div>
            <div class="padding" style="margin-top: -30px;" ng-click="$root.go('login')">
                <button class="button button-full button-calm" type="button">
                    cancel
                </button>
            </div>
        </form>
    </ion-content>
</ion-view>
