<!-- <ion-view title="Login" id="login" cache-view="false">
    <ion-content>
        <div class="login-container">
            <div class="welcome-container">
                <div class="welcome-big">Welcome</div>
                <div class="welcome-small">to</div>
                <div class="welcome-logo">
                    <img src="img/new/logo.png">
                </div>
            </div>
            <div class="app-name welcome-big">Site Diary - Login</div>
            <form class="login-form" role="form" name="loginForm" novalidate="">
                <div class="input-container">
                    <input type="email" ng-model="user.username" required="required" readonly onfocus="this.removeAttribute('readonly');"><strong></strong>
                    <label class="label-bar">Username</label>
                </div>
                <div class="input-container">
                    <input type="password" ng-model="user.password" required="required" readonly onfocus="this.removeAttribute('readonly');"><strong></strong>
                    <label class="label-bar">Password</label>
                </div>
                <div class="input-container">
                  <button class="button button-calm button-full" ng-click="login()" ng-disabled="loginForm.$invalid">
                    Login
                  </button>
                </div>
            </form>
            <div class="remember-container">
                <div>
                    <span>Remember me</span><ion-checkbox ng-model="user.remember"></ion-checkbox>
                </div>
                <div class="login-footer" ng-click="$root.go('forgot')">
                    Forgot password?
                </div>
            </div>
        </div>
    </ion-content>
</ion-view> -->
<ion-view title="Login" id="login-new" cache-view="false">
    <ion-content>
      <div class="login-text">
        WELCOME TO
      </div>
      <div class="login-icon">
        <img src="img/SD_icon.png">
      </div>
      <div class="login-text">
        SITE DIARY
      </div>
      <form role="form" name="loginForm" novalidate="">
        <div>
          <input type="email" ng-model="user.username" placeholder="Username" required="required">
          <input type="password" ng-model="user.password" placeholder="Password" required="required">
        </div>
        <div class="login-buttons">
          <button class="forgot-button" type="button" name="forgot-button" ng-click="$root.go('forgot')">
            FORGOT?
          </button>
          <button class="login-button"type="button" name="login-button" ng-click="login()" ng-disabled="loginForm.$invalid">
            LOGIN
          </button>
        </div>
      </form>
      <div class="login-remember">
        <ion-checkbox ng-model="user.remember">REMEMBER ME</ion-checkbox>
      </div>
    </ion-content>
</ion-view>
