<ion-side-menus cache-view="false" drag-content="false">
    <ion-side-menu-content id="ds-content">
        <ion-header-bar class="bar bar-header">
            <button id="ds-menu-btn" class="button button-icon icon ion-android-arrow-back" ng-click="vm.toggleSidemenu($event)"></button>
            <div class="h1 title">{{projectName || 'Please select a project'}}</div>
        </ion-header-bar>
        <ion-nav-view id="pp-main" name="menuContent" animation="slide-left-right"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" class="dark" drag-content="toggledrag" id="ds-menu">
        <ion-content scroll="false">
            <ion-item nav-clear menu-close class="ds-group">
                <div class="ds-img">
                    <img src="img/menu/user_default.png">
                </div>
                <div class="ds-text">{{vm.username.username}}</div>
                <div class="ds-text">{{vm.loggedIn.role.title}}</div>
            </ion-item>
            <ion-item nav-clear menu-close ng-click="vm.logout()" class="ds-btn">
                <button class="button button-block button-calm">Log out</button>
            </ion-item>

            <ion-item nav-clear menu-close ng-click="vm.sync()">
                <img src="img/menu/synchronize.png">
                <span>Synchronize</span>
            </ion-item>
            <ion-item ng-if="vm.loggedIn.role.id !== 4" nav-clear menu-close ng-click="vm.go('home')">
                <img src="img/new/projects.png">
                <span>Projects</span>
            </ion-item>
            <ion-item nav-clear menu-close ng-click="vm.go('account')">
                <img src="img/menu/user.png">
                <span>My Account</span>
            </ion-item>
            <ion-item nav-clear menu-close ng-click="vm.go('shared')">
                <img src="img/menu/sharedDocs.png">
                <span>My shared docs</span>
            </ion-item>
            <ion-item nav-clear menu-close class="ds-invert">
                <img src="img/menu/onweb.png">
                <span>ProProject on web</span>
            </ion-item>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
